<hr/ >

<header>
<div class="row">
    <!--
    <div class="col-md-12" style="text-align: center;">
    -->
    <div class="col-md-12">

        <div class="headtext" style="text-align: center;">
            <h1 class="jumbo"><b>
            {% if index %}
                <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title|striptags }}</a>
            {% else %}
                {{ article.title|striptags }}
            {% endif %}
            </b></h1>
        
            <p class="lead">
                Posted 
                <time datetime="{{ article.date.isoformat() }}" pubdate>{{ article.locale_date }}</time>
            </p>
        </div>

    </div>
</div>
</header>

<div class="v50"></div>

<div class="row">
    <div class="col-md-8 col-centered" style="text-align: left;">

        {% if index %}
            <div class="entry-content">{{ article.summary }}</div>
            {% if article.summary != article.content %}
            <footer>
                <a rel="full-article" href="{{ SITEURL }}/{{ article.url }}">Read On &crarr;</a>
            </footer>
            {% endif %}

        {% else %}
            <div class="entry-content">{{ article.content }}</div>

        {% endif %}

    </div>
</div>

<div class="v300"></div>

