{% extends 'base.html' %}
{% set mytitle="Projects" %}



{# ----------- title -------------- #}
{% block title %}{{ mytitle }}{% endblock %}



{# ----------- content ------------- #}
{% block content %}

<!--
<link href="{{ SITEURL }}/projects.css" rel="stylesheet" stype="text/css" />
-->

<div ng-app="projectsApp">

    <div ng-controller="HelloController" ng-init="initialize()">

        <p>Allo Allo, Vjarld!</p>
    
    </div>

</div>

<script type="text/javascript" src="{{ SITEURL }}/projects/projects_modcontrol.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/projects/projects_sunburst.js"></script>

{% endblock %}

