{% extends 'base.html' %}
{% set mytitle="subway" %}
{% block title %}{{ mytitle }}{% endblock %}
{% block content %}

<div id="svg-wrapper" class="svg-wrapper"></div>

<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="under.js"></script>
<script type="text/javascript" src="back.js"></script>
<script type="text/javascript" src="ddd.js"></script>
<script type="text/javascript" src="config.js"></script>
<script type="text/javascript" src="helpers.js"></script>
<script type="text/javascript" src="app.js"></script>

<script type="text/javascript" src="jq1.js"></script>
<script type="text/javascript" src="jq2.js"></script>
<script type="text/javascript" src="jq3.js"></script>
<script type="text/javascript" src="map.js"></script>
<script type="text/javascript" src="maps.js"></script>
<script type="text/javascript" src="transit.add.js"></script>
<script type="text/javascript" src="transit.show.js"></script>


{% endblock %}
