{% extends 'base.html' %}
{#
{% set mytitle="index" %}
{% block title %}{{ mytitle }}{% endblock %}
#}
{% block content %}

<div class="container">

    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <div class="cosmojumbo">
                <h1 class="jumbojumbo"><b>Contact Information:</b></h1>
                <h1>Charles Reid</h1>
            </div>
        </div>
    </div>

    <div class="v150"></div>

    <div class="row" id="contact">

        <div class="col-sm-6">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Consulting</h3>
                </div>
                <div class="panel-body">
                    <p>Charles Reid provides data engineering and cloud migration consulting services.
                    These services will help companies create and leverage cloud infrastructure to
                    collect and manage data about their business or organization. 
                    </p>
                    <p>To discuss consulting opportunities, please send an email to:
                    </p>
                    <p>charles ( at ) charlesreid 1 . com
                    </p>

                </div>
            </div>

        </div>


        <div class="col-sm-6">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Resume</h3>
                </div>
                <div class="panel-body">
                    <p>Charles Reid is a chemical engineer who earned his Ph.D. 
                    simulating turbulent multiphase combustion using a massively
                    parallel computational fluid dynamics code running on national
                    lab supercomputers.
                    </p>
                    <p>Charles completed a postdoc at Lawrence Livermore National Lab,
                    and has worked as a chemical engineer in the oil and gas industry.
                    Charles also taught computer science and mathematics at Seattle 
                    College.
                    <p>
                    <p>Charles has worked as a software and data engineer at the University
                    of California for over two years, first at UC Davis, in the Lab for Data
                    Intensive Biology (Professor Titus Brown), and then at UC Santa Cruz at
                    the Computational Genomics Laboratory at the Genomics Institute.
                    </p>
                    <p><a href="https://gist.github.com/charlesreid1/e450e578bca38fae950185fb95c3854a">Resume</a>
                    </p>
                </div>
            </div>

        </div>

    </div>

    <div class="row" id="contact">

        <div class="col-sm-8" style="text-align: center;">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Location</h3>
                </div>
                <div class="panel-body">

                    <p class="lead contentText">Charles Reid is located in Santa Cruz, California.</p>
                    </p>

                    <img class="img img-circle" src="/img/sc.png" style="width: 250px; height: 250px;">

                    <p>
                    </p>

                </div>

            </div>

        </div>


        <div class="col-sm-4">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Email</h3>
                </div>
                <div class="panel-body">
                    <p>The easiest way to get in touch with Charles Reid is via email:
                    </p>
                    <p>charles ( at ) charlesreid 1 . com
                    </p>
                </div>
            </div>

        </div>

    </div>



    </div>

    <div class="v300"></div>

</div>

{% endblock %}

